@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        a{
            display:block;
            width:100%;
        }
    </style>
</head>
<body>
    <h1 color="red" align="center">Error Can't be <span style="color:red">access</span></h1>

    <a asp-action="Login" asp-controller="Account" class="btn btn-danger fw-bold">Login</a>
</body>
</html>
