
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
</head>
<body>
    <h1 color="red" align="center">Error In Roles</h1>

    <button asp-action="StudentAcount" asp-controller="Student" class="btn-danger" value="Login">Login</button>

</body>
</html>
