@model AttendanceSystem.ViewModels.LoginViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
<style>
    
        .btn {
        background-color: #bf272d;
        color: white;
            font-weight: bold;
        }
</style>
</head>

<body>  

    <h2>Log<span>In</span></h2>
    <form asp-action="Login" method="post" class="form-floating">

        <div class="form-floating my-3">
            <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label asp-for="Email" >Email address</label>
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>

        <div class="form-floating">
            <input asp-for="Password" type="password" class="form-control" id="floatingInput" placeholder="Password">
            <label asp-for="Password">Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn mt-3">Login</button>
    </form>

</body>
</html>
