@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To <span>ITI</span></h1>
    <img src="/images/ITIBG.png" alt="Alternate Text" style="text-align:center; width:90%"/>
</div>
